.vs/
.vscode/
.pytest_cache/
*.pyc
__pycache__/
# GPU*.sh
recognition/datasets/
train_results/
temp/
# figures/
test*.py
test_sy/
wandb/
*.csv

# datasets
datasets/

# jupyter
notebook/

# experimental results
exp_results/
exp_results_sim/